<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">A simple TO-Do App made with NodeJS</p>
    <a href="/todo/add" class="btn btn-dark btn-lg">Add a To-Do</a>
</div>