.dropdown-menu-right.show {
    left: -128px;
}

@media only screen and (min-width: 576px) {
    .sn-btn {
        visibility: hidden;
    }
}

.my-fab {
    position: fixed;
    bottom: 8vh;
    right: 10vw;
}

.bmd-drawer-f-b>.bmd-layout-drawer {
    height: 320px;
    transform: translateY(330px);
}

.my-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.list-group-item :first-child {
    margin-right: 1rem;
}

.myLGI {
    padding: 0.75rem 1.25rem;
    color: rgba(0, 0, 0, 0.54);
}

textarea .autoExpand{
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
}